

<section id="{{ section.slug | slugify }}" class="block block-one-column-1">
    <div class="container">
        <div class="columns">
            <div class="column text">
                <h3>{{ section.headline }}</h3>
                <form
                    id="contact-form"
                    action="https://formspree.io/f/mqkgyrnj"
                    method="POST"
                    class="light"
                    >
                    
                    <div class="form-group row">
                        <h2><label for="contact-your-email">Your email:</label></h2>
                        <input name="email" type="email" class="form-control" id="contact-your-email" /> 
                    </div>

                    <div class="form-group row">
                        <h2><label for="contact-your-message">Your message:</label></h2>
                        <textarea name="message" class="form-control" id="contact-your-message" style="height:300px;"></textarea>
                    </div>

                    <!-- your other form fields go here -->

                    <button id="contact-form-submit-button" type="submit" class="btn btn-warning">Send</button>
                    <p id="contact-form-status"></p>
                </form>
            </div>
        </div>
    </div>
</section>

<script>
    window.addEventListener("DOMContentLoaded", function() {
  
      // get the form elements defined in your form HTML above
      
      var form = document.getElementById("contact-form");
      var button = document.getElementById("contact-form-submit-button");
      var status = document.getElementById("contact-form-status");
  
      // Success and Error functions for after the form is submitted
      
      function success() {
        form.reset();
        button.style = "display: none ";
        status.innerHTML = "Thanks!";
      }
  
      function error() {
        status.innerHTML = "Oops! There was a problem sending your message.";
      }
  
      // handle the form submission event
  
      form.addEventListener("submit", function(ev) {
        ev.preventDefault();
        var data = new FormData(form);
        ajax(form.method, form.action, data, success, error);
      });
    });
    
    // helper function for sending an AJAX request
  
    function ajax(method, url, data, success, error) {
      var xhr = new XMLHttpRequest();
      xhr.open(method, url);
      xhr.setRequestHeader("Accept", "application/json");
      xhr.onreadystatechange = function() {
        if (xhr.readyState !== XMLHttpRequest.DONE) return;
        if (xhr.status === 200) {
          success(xhr.response, xhr.responseType);
        } else {
          error(xhr.status, xhr.response, xhr.responseType);
        }
      };
      xhr.send(data);
    }
  </script>